body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0
}

.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}
.header{
    padding: 16px 15%;
}

#headerlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.heromain{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.herosec, button{
    font-size: 18px;
    color: #E5E7EB;
}

.ctacolor{
    background-color: #3882F6;
}

button{
    padding: 8px 30px;
    border-radius: 12px;
    border: none;
}

.headerlinks{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.headcontainer{
    display: flex;
    padding: 120px 0px;
    gap: 32px;
}

#img{
    flex: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headtext{
    flex: 1;
}

#headtext .herosec{
    margin: 12px 0px 16px 0px;
}

/* INFO SECTION */
.info{
    text-align: center;
    padding: 50px 15%;
}

#infoheader{
    font-size:36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.cards{
    display: flex;
    font-size: 18px;
    font-weight: 500px;
    color: grey;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 150px;
}

.dummypic{
    height:150px;
    border: 3px solid #4786ec;
    border-radius: 12px
}

/* QUOTE SECTION */
.quote{
    background-color:#E5E7EB;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    color: #1F2937;
    padding: 100px 20%;
}

.author{
    margin-top: 10px;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    color: black;
}

/* SIGNUP SECTION */
.signup{
    padding: 80px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    height: 150px;
}

#itstime{
    font-size: 24px;
}

#itstime, #signbutton{
    color: #F9FAF8;
}

#signbutton{
    border: 1px solid #F9FAF8;
    background-color: transparent
}

/* FOOTER SECTION */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 40px;
}